<div class="box">
    <article class="media">
        <div class="media-left">
            <p class="image is-128x128">
                <img ng-src="{{ $ctrl.loadImage($ctrl.currentMeal.image) }}">
            </p>
        </div>
        <div class="media-content">
            <div class="content">
                <p class="subtitle is-4"><em>
                    {{ $ctrl.currentMeal.description }}
                    </em>
                </p>
            </div>
        </div>

        <div class="media-right">
            <a class="button is-danger" ng-class="{'is-outlined': !$ctrl.liked}" ng-click="$ctrl.toggleLike()">
                            <span class="icon is-small"><i class="fa fa-heart"></i></span>
                        </a>
        </div>
    </article>
    <br>
    <h1 class="title has-text-left is-4">Ingredients</h1>

    <div class="content has-text-left">
        <p ng-repeat="ingredient in $ctrl.currentMeal.ingredients">
            {{ ingredient }}
        </p>
        <div class="columns">
            <div class="column" ng-repeat="section in $ctrl.currentMeal.ingredientSections">
                <h5>{{ section.title }}</h5>
                <dl>
                    <dd ng-repeat="ingredient in section.ingredients"> {{ingredient}} </dd>
                </dl>
            </div>
        </div>
    </div>
    <h1 class="title has-text-left is-4">Preparation</h1>
    <div class="content has-text-left">
        <ol>
            <li ng-repeat="step in $ctrl.currentMeal.preparationSteps"> {{ step }}</li>
        </ol>

    </div>
</div>