<div class="field has-addons has-addons-centered subtitle">
    <p class="control">
        <a class="button is-large" ng-class="{'is-primary': $ctrl.breakfastSelected}" ng-click="$ctrl.selectCourse('breakfast')">Breakfast</a>
    </p>
    <p class="control">
        <a class="button is-large" ng-class="{'is-primary': $ctrl.lunchSelected}" ng-click="$ctrl.selectCourse('lunch')">Lunch</a>
    </p>
    <p class="control">
        <a class="button is-large" ng-class="{'is-primary': $ctrl.dinnerSelected}" ng-click="$ctrl.selectCourse('dinner')">Dinner</a>
    </p>
</div>
<div></div>