<div class="columns">
    <div class="column is-three-quarters">
        <div class="control has-icons-left">
            <input class="input" placeholder="Meal lookup" ng-model="search">
            <span class="icon is-small is-left">
                <i class="fa fa-search"></i>
            </span>
        </div>
    </div>
    <div class="column">
        <div class="select is-pulled-right">
            <select>
                <option>Calories</option>
                <option>Cooking time</option>
                <option>Popularity</option>
                <option>New</option>
            </select>
        </div>
    </div>
</div>


<div class="box notification-padding-fix" ng-repeat="meal in $ctrl.meals | filter:search" ng-class="{'notification is-success' : meal.added}">
    <article class="media">
        <div class="media-left">
            <p class="image is-64x64">
                <!-- <img src="images/grechka.jpg"> -->
            </p>
        </div>
        <div class="media-content">
            <div class="content">
                <p class="subtitle is-5">
                    {{ meal.title }}
                </p>
                <p>
                    {{ meal.description }}
                </p>
            </div>
            <div class="content is-small has-text-right">
                <p>Last cooked 5 days ago</p>
            </div>
        </div>
        <div class="media-right">
            <div class="content">
                <p> {{ meal.calories }} <br> {{ meal.cookingTime }}</p>
            </div>
        </div>
        <div class="media-right">
            <div class="content">
                <p ng-if="!meal.added"><a class="button is-primary is-outlined fixed-width-100" ng-click="$ctrl.mealAdded({meal:meal})">Add</a></p>
                <p ng-if="meal.added"><a class="button is-danger fixed-width-100" ng-click="$ctrl.mealRemoved({meal:meal})">Remove</a></p>
                <p class="has-text-centered"><span class="icon is-small"><i class="fa fa-heart-o" style="color:red"></i>&nbsp;16</span></p>
            </div>
        </div>
    </article>
</div>

<!-- 
<div class="box">
    <article class="media">
        <div class="media-left">
            <p class="image is-64x64">
                 <img src="images/grechka.jpg"> 
            </p>
        </div>
        <div class="media-content">
            <div class="content">
                <p>
                    Energizing and nutritious, buckwheat is available throughout the year and can be served as an alternative to rice or made
                    into porridge.
                </p>
            </div>
            <div class="content is-small has-text-right">
                <p>Last cooked 5 days ago</p>
            </div>
        </div>
        <div class="media-right">
            <div class="content">
                <p> 100 Cal <br> 15 min</p>
            </div>
        </div>
        <div class="media-right">
            <a class="button is-primary is-outlined">Add</a>
        </div>
    </article>
</div>
<div class="box">
    <article class="media">
        <div class="media-left">
            <p class="image is-64x64">
                 <img src="images/grechka.jpg"> 
            </p>
        </div>
        <div class="media-content">
            <div class="content">
                <p>
                    Energizing and nutritious, buckwheat is available throughout the year and can be served as an alternative to rice or made
                    into porridge.
                </p>
            </div>
        </div>
        <div class="media-right">
            <div class="content">
                <p> 100 Cal <br> 15 min</p>
            </div>
        </div>
        <div class="media-right">
            <div class="content">
                <p><a class="button is-primary is-outlined">Add</a>
                    <p>
                        <p class="has-text-centered"><span class="icon is-small"><i class="fa fa-heart-o" style="color:red"></i>&nbsp;16</span></p>
            </div>
        </div>
    </article>
</div>
<div class="box notification is-success" style="padding:1.25rem">
    <article class="media">
        <div class="media-left">
            <p class="image is-64x64">
                 <img src="images/grechka.jpg"> 
            </p>
        </div>
        <div class="media-content">
            <div class="content">
                <p>
                    Energizing and nutritious, buckwheat is available throughout the year and can be served as an alternative to rice or made
                    into porridge.
                </p>
            </div>
        </div>
        <div class="media-right">
            <div class="content">
                <p> 100 Cal <br> 15 min</p>
            </div>
        </div>
        <div class="media-right">
            <div class="content">
                <p><a class="button is-danger">Remove</a>
                    <p>
                        <p class="has-text-centered"><span class="icon is-small"><i class="fa fa-heart" style="color:red"></i>&nbsp;500</span></p>
            </div>
        </div>
    </article>
</div> -->
<div></div>