<html ng-app="meal-planning">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="page-grid">
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item"><i class="fa fa-cutlery" aria-hidden="true"></i></a>
            <div class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
                <a class="navbar-item">Now</a>
                <a class="navbar-item">Planning</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <a class="button is-primary is-outlined">Register</a>
                </div>
            </div>
        </div>
    </nav>
<!-- End of Header -->
    <section class="section" ng-controller="MainController as ctrl">
        <div class="container has-text-centered">
            <day-selector date-changed="ctrl.dateChangedHandler(date)" selected-date="ctrl.date2"></day-selector>
            <course-selector course-changed="ctrl.courseChanged(course)"></course-selector>
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <p class="image is-128x128">
                            <img src="images/bbqsandwich.png">
                        </p>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p class="subtitle">
                                {{ ctrl.currentMeal.description }}
                            </p>
                        </div>
                    </div>

                    <div class="media-right">
                        <a class="button is-danger" ng-class="{'is-outlined': !ctrl.liked}" ng-click="ctrl.toggleLike()">
                            <span class="icon is-small"><i class="fa fa-heart"></i></span>
                        </a>
                    </div>
                </article>
                <div class="content has-text-left">
                    <h2>Ingredients</h2>
                    <p ng-repeat="ingredient in ctrl.currentMeal.ingredients">
                       {{ ingredient }}
                    </p>
                    <div class="columns">
                        <div class="column" ng-repeat="section in ctrl.currentMeal.ingredientSections">
                            <h5>{{ section.title }}</h5>
                            <dl>
                                <dd ng-repeat="ingredient in section.ingredients"> {{ingredient}} </dd>
                            </dl>
                        </div>
                    </div>

                    <h2>Preparation</h2>
                    <ol>
                        <li ng-repeat="step in ctrl.currentMeal.preparationSteps"> {{ step }}</li>
                    </ol>
                    <h2>Video</h2>

                </div>
            </div>

        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="content">
                <p> This is footer. Nothing to read.</p>
            </div>
        </div>
    </footer>
</body>

</html>